<html>
    <head>
        <style>
        .p1 {
            font-weight: 500 ;
            text-align : center ;
            font-size: 90%;
            font-family: Comic Sans MS ;
         }


        .aligncenter {
            text-align: center;
        }
        </style>
    </head>
 
    <br>
    <br>
  
    <p class="aligncenter">
        <img src="/static/patrick.jpg" alt="centered image"  />
    </p>
    
 
    <p class="p1">This function isn't exists. Sorry about that.</p>
    <p class="p1">the supported functions are listed below:</p>
    <p class="p1">min - max - mean - median - pXXX (XXX is a percentile between 0...100)</p>
    




</html>